<html>
  <head>
    <title>Littlefoot</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>Welcome to Littlefoot</h1>
    <p>You are logged in as <%= user %></p>
    </br>
    <a href="./signup">sign up</a>
  </body>
</html>
